---
permalink: /schedule.html
layout: page
title: The Schedule
---
<style>
	.timeline {}

	.timeline ul {
		list-style-type: none;
		border-left: 2px solid #1C1C1B;
		padding: 10px 5px;
	}

	.timeline ul li {
		padding: 0.5rem;
		position: relative;
		cursor: pointer;
		transition: .5s;
	}

	.timeline ul li span {
		display: inline-block;
		background-color: #BF165E;
		color: white;
		border-radius: 25px;
		padding: 2px 5px;
		text-align: center;
		margin-bottom: 0.5rem;
	}

	.timeline ul li .card p {
		padding: 5px 0px 15px 0px;
	}

	.timeline ul li:before {
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		background-color: #aa1454;
		border-radius: 50%;
		left: -11px;
		top: 28px;
		transition: .5s;
	}

	.timeline ul li .card.hoverable:hover {
		background-color: #fddbe3;
	}

	.timeline ul li:hover:before {
		background-color: #ff3c6a;
		box-shadow: 0px 0px 10px 2px #ff3c6a;
	}

	@media (max-width:300px) {
		.timeline {
			width: 100%;
			padding: 30px 5px 30px 10px;
		}

	}

	.card p {
		margin-bottom: 0rem;
	}

	.scrolling-wrapper {}

	.scrolling-wrapper {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		/* add this line */
		scroll-snap-type: x mandatory;

	}

	.scrolling-wrapper .card {
		min-width: min(400px, 90%);
		margin-right: 0.5rem;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.scrolling-wrapper a {
		display: inline-block;
		min-width: min(400px, 90%);
		scroll-snap-align: start;
	}

	.card {
		padding: 1rem;
		border-radius: 15px;
		border: 1px solid #bf165f26;
	}

	.date {
		color: #bf165e;
		font-weight: bold;
	}

	h5 {
		font-weight: bold;
	}

	ul {
		margin-bottom: 1.5rem;
	}

	a p {
		text-decoration: none;
		color: black;
	}

	.portraitPhoto {
		position: relative;
		display: inline-block;
		width: 50px;

	}

	.portraitPhoto img:first-child,
	.portraitPhoto img:nth-child(2) {
		width: 100%;
		height: auto;
		object-fit: cover;
		margin-left: 5px;
		margin-right: 5px;
	}

	.portraitPhoto img:first-child {
		opacity: 100%;
	}

	.portraitPhoto img:nth-child(2) {
		position: absolute;
		top: 0;
		left: 0;
	}

	.img-fluid {
		max-height: none;
		max-width: none;
	}

	.participants .portraitPhoto {
		margin-inline-end: -15px;
		/* adjust as needed */
	}

	.participants .portraitPhoto:first-child {
		z-index: 1;
	}

	.participants {
		padding-right: 1rem;
	}

	a>.hoverable {
		height: 100%;
	}
</style>
<div class="timeline content-color-default">
	<h3 class="mb-2 date">Monday, 5th June 2023</h3>
	<ul>
		<li>
			<span>Morning</span>
			<div class="scrolling-wrapper">
				<div class="card">
					<div>
						<h5>CX691: HKG to SIN</h5>
						<p>

							The morning flight from Hong Kong International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="WHL" %}
						{% include schedule_user.html user="KCL" %}
						{% include schedule_user.html user="QTA" %}
						{% include schedule_user.html user="HB" %}
						{% include schedule_user.html user="LBH" %}
						{% include schedule_user.html user="HWL" %}
						{% include schedule_user.html user="NT" %}
						{% include schedule_user.html user="JX" %}
						{% include schedule_user.html user="CWY" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>CX691: HKG to SIN</h5>
						<p>

							The morning flight from Hong Kong International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="LA" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>FD357: DMK to SIN</h5>
						<p>

							The morning flight from Don Mueang International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="MH" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>CX691: HKG to SIN</h5>
						<p>

							The morning flight from Hong Kong International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="KJ" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>BG584: DAC to SIN</h5>
						<p>

							The morning flight from Hazrat Shahjalal International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="ML" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>SQ177: SGN to SIN</h5>
						<p>

							The morning flight from Tân Sơn Nhất International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="THL" %}
					</div>

				</div>
			</div>
		</li>
		<li>
		<span>Afternoon</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Merlion </h5>
							<p>
								This page will be authored by Huiyu BAI. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>Evening</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/a/2023/06/05/Ninety-Nine-Old-Trees.html">
					<div class="card hoverable">
						<div>
							<h5>Ninety-Nine Old Trees (99老樹)</h5>
							<p>

								At Ninety-Nine Old Trees, a durian shop, patrons savor various durians and durian desserts. First-timer Nurda finds Mao Shan Wang durian's sweet-bitter flavor intriguing.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="THL" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>The Malay Restaurants</h5>
							<p>

								This page will be authored by Lav ASRANI. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LA" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="ML" %}
						</div>

					</div>
				</a>
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Tuesday, 6th June 2023</h3>
	<ul>
		<li>
			<span>10:00 AM - 12:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>A.I. Lecture @ NUS</h5>
							<p>
								This page will be authored by Trung Hai LE. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>12:00 PM - 1:45 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Lunch at Formosa Delights </h5>
							<p>
								This page will be authored by Trung Hai LE. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>2:00 PM - 4:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Vision A.I. Lab @ NUS </h5>
							<p>
								This page will be authored by Lav ASRANI. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>8:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>Satay Street, Lau Pa Sat</h5>
							<p>
								This page will be authored by HENDRA Latisha Besariani. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/a/2023/06/06/Ah-Seng-Durian.html">
					<div class="card hoverable">
						<div>
							<h5>Ah Seng Durian’s Alexandra Outlet</h5>
							<p>
								Join us on our flavor-filled day at Ah Seng Durian's Alexandra Outlet. Discover an affordable haven for durian lovers, featuring diverse tastes and fresh, juicy mangosteens.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>

					</div>
				</a>
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Wednesday, 7th June 2023</h3>
	<ul>
		<li>
			<span>11:00 AM - 12:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>Carousell Singapore Office Visit</h5>
							<p>
								This page will be authored by {Haven't assing the writer}. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>12:00 PM - 1:45 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Lunch at Chin Chin Eating House</h5>
							<p>
								This page will be authored by {Haven't assing the writer}. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>2:00 PM - 3:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Professional Path Way @ SMU </h5>
							<p>
								This page will be authored by Maitree HIRUNTEEYAKUL. The subject matter may vary based
								on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>3:00 PM - 4:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> SMU Research Projects </h5>
							<p>
								This page will be authored by {Haven't assing the writer}. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>5:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>National Museum of Singapore</h5>
							<p>
								This page will be authored by Kusuma JAIPIAM. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="KJ" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>A Cafe</h5>
							<p>
								This page will be authored by Trung Hai LE. The subject matter may vary based
								on the content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
			</div>
		</li>
		<li>
			<span>7:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>Song Fa Bak Kut Teh</h5>
							<p>
								This page will be authored by Maitree HIRUNTEEYAKUL. The subject matter may vary based
								on the content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>Little India</h5>
							<p>
								This page will be authored by Mahir LABIB. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="HWL" %}
						</div>

					</div>
				</a>
				
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Thursday, 8th June 2023</h3>
	<ul>
		<li>
			<span>9:00 AM - 10:00 AM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>Breakfast @ Ya Kun Kaya Toast</h5>
							<p>
								This page will be authored by LI Hendry Wijaya. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>10:45 AM - 1:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/aquarium.html">
					<div class="card hoverable">
						<div>
							<h5>S.E.A. Aquarium Visit</h5>
							<p>
								Spent a fantastic day at Sentosa Island, Singapore, visiting the S.E.A. Aquarium.
								Marvelled at over 100,000 marine creatures, learned about environmental impact, and
								created unforgettable memories. Highly recommend a visit!
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="THL" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>
					</div>
				</a>


			</div>
		</li>
		<li>
			<span>2:00 PM - 4:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Art Science Museum Visit </h5>
							<p>
								This page will be authored by {Haven't assing the writer}. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>
					</div>
				</a>
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Sentosa Line Cable Car </h5>
							<p>
								This page will be authored by Kusuma JAIPIAM. The subject matter may vary based on the
								content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>Evening</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5>Spectra & Garden Rhapsody, Singapore's show </h5>
							<p>
								This page will be authored by Maitree HIRUNTEEYAKUL. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/a/2023/06/08/Dining-Delight-at-Nando.html">
					<div class="card hoverable">
						<div>
							<h5>Dining Delight at Nando's </h5>
							<p>
								Experience the rich flavors of Portugal at Nando's in Singapore. From perfectly grilled peri-peri chicken to crispy fries, enjoy a warm, friendly, and unforgettable dining journey.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
						</div>

					</div>
				</a>
				
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Friday, 9th June 2023</h3>
	<ul>
		<li>
			<span>10:00 AM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Friday Brunch BBQ </h5>
							<p>
								This page will be authored by Trung Hai LE. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>1:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/a/2023/06/02/day-one.html">
					<div class="card hoverable">
						<div>
							<h5> Jewel Changi Airport </h5>
							<p>
								This page will be authored by Maitree HIRUNTEEYAKUL. The subject matter may vary
								based on the content
								writer's discretion.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>6:00 PM</span>
			<div class="scrolling-wrapper">
				<div class="card">
					<div>
						<h5>CX716: SIN to HKG</h5>
						<p>

							The evening flight departed from Singapore Changi to Hong Kong International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="WHL" %}
						{% include schedule_user.html user="KCL" %}
						{% include schedule_user.html user="QTA" %}
						{% include schedule_user.html user="HB" %}
						{% include schedule_user.html user="LBH" %}
						{% include schedule_user.html user="KJ" %}
						{% include schedule_user.html user="ML" %}
						{% include schedule_user.html user="HWL" %}
						{% include schedule_user.html user="NT" %}
						{% include schedule_user.html user="JX" %}
						{% include schedule_user.html user="CWY" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>CX691: HKG to SIN</h5>
						<p>

							The morning flight from Hong Kong International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="LA" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>FD350: SIN to DMK</h5>
						<p>

							The evening flight departed from Singapore Changi to Don Mueang International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="MH" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>SQ186: SIN to SGN</h5>
						<p>

							The evening flight departed from Singapore Changi to Tân Sơn Nhất International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="THL" %}
					</div>

				</div>
			</div>
		</li>
	</ul>


</div>

</body>