---
permalink: /schedule.html
layout: page
title: The Schedule
---
<style>
	.timeline {}

	.timeline ul {
		list-style-type: none;
		border-left: 2px solid #1C1C1B;
		padding: 10px 5px;
	}

	.timeline ul li {
		padding: 0.5rem;
		position: relative;
		cursor: pointer;
		transition: .5s;
	}

	.timeline ul li span {
		display: inline-block;
		background-color: #BF165E;
		color: white;
		border-radius: 25px;
		padding: 2px 5px;
		text-align: center;
		margin-bottom: 0.5rem;
	}

	.timeline ul li .card p {
		padding: 5px 0px 15px 0px;
	}

	.timeline ul li:before {
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		background-color: #aa1454;
		border-radius: 50%;
		left: -11px;
		top: 28px;
		transition: .5s;
	}

	.timeline ul li .card.hoverable:hover {
		background-color: #fddbe3;
	}

	.timeline ul li:hover:before {
		background-color: #ff3c6a;
		box-shadow: 0px 0px 10px 2px #ff3c6a;
	}

	@media (max-width:300px) {
		.timeline {
			width: 100%;
			padding: 30px 5px 30px 10px;
		}

	}

	.card p {
		margin-bottom: 0rem;
	}

	.scrolling-wrapper {}

	.scrolling-wrapper {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		/* add this line */
		scroll-snap-type: x mandatory;

	}

	.scrolling-wrapper .card {
		min-width: min(400px, 90%);
		margin-right: 0.5rem;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.scrolling-wrapper a {
		display: inline-block;
		min-width: min(400px, 90%);
		scroll-snap-align: start;
	}

	.card {
		padding: 1rem;
		border-radius: 15px;
		border: 1px solid #bf165f26;
	}

	.date {
		color: #bf165e;
		font-weight: bold;
	}

	h5 {
		font-weight: bold;
	}

	ul {
		margin-bottom: 1.5rem;
	}

	a p {
		text-decoration: none;
		color: black;
	}

	.portraitPhoto {
		position: relative;
		display: inline-block;
		width: 50px;

	}

	.portraitPhoto img:first-child,
	.portraitPhoto img:nth-child(2) {
		width: 100%;
		height: auto;
		object-fit: cover;
		margin-left: 5px;
		margin-right: 5px;
	}

	.portraitPhoto img:first-child {
		opacity: 100%;
	}

	.portraitPhoto img:nth-child(2) {
		position: absolute;
		top: 0;
		left: 0;
	}

	.img-fluid {
		max-height: none;
		max-width: none;
	}

	.participants .portraitPhoto {
		margin-inline-end: -15px;
		/* adjust as needed */
	}

	.participants .portraitPhoto:first-child {
		z-index: 1;
	}

	.participants {
		padding-right: 1rem;
	}

	a>.hoverable {
		height: 100%;
	}
</style>
<div class="timeline content-color-default">
	<h3 class="mb-2 date">Monday, 5th June 2023</h3>
	<ul>
		<li>
			<span>Morning</span>
			<div class="scrolling-wrapper">
				<div class="card">
					<div>
						<h5>CX691: HKG to SIN</h5>
						<p>

							The morning flight from Hong Kong International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="WHL" %}
						{% include schedule_user.html user="KCL" %}
						{% include schedule_user.html user="QTA" %}
						{% include schedule_user.html user="HB" %}
						{% include schedule_user.html user="LBH" %}
						{% include schedule_user.html user="HWL" %}
						{% include schedule_user.html user="NT" %}
						{% include schedule_user.html user="JX" %}
						{% include schedule_user.html user="CWY" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>TR981: HKG to SIN</h5>
						<p>

							The morning flight from Hong Kong International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="LA" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>FD357: DMK to SIN</h5>
						<p>

							The morning flight from Don Mueang International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="MH" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>7C4055: PUS to SIN</h5>
						<p>

							The evening flight from Gimhae International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="KJ" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>BG584: DAC to SIN</h5>
						<p>

							The morning flight from Hazrat Shahjalal International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="ML" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>SQ177: SGN to SIN</h5>
						<p>

							The morning flight from Tân Sơn Nhất International Airport landed at Singapore Changi.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="THL" %}
					</div>

				</div>
			</div>
		</li>
		<li>
		<span>Afternoon</span>
			<div class="">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/05/Merlion-and-Marina-Bay-Sands.html">
					<div class="card hoverable">
						<div>
							<h5> Merlion and Marina Bay Sands </h5>
							<p>
								Journey through a memorable night in Singapore, exploring iconic sights from the mesmerizing Rain Oculus to Marina Bay Sands. Marvel at a vibrant light show, and the symbol of Singapore - the Merlion. Experience a city where heritage, art, and innovation blend effortlessly.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>Evening</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/05/Ninety-Nine-Old-Trees.html">
					<div class="card hoverable">
						<div>
							<h5>Ninety-Nine Old Trees (99老樹)</h5>
							<p>

								At Ninety-Nine Old Trees, a durian shop, patrons savor various durians and durian desserts. First-timer Nurda finds Mao Shan Wang durian's sweet-bitter flavor intriguing.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="THL" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/students-exploration/2023/06/05/Malay-food.html">
					<div class="card hoverable">
						<div>
							<h5>Amazing Malay Food</h5>
							<p>
Experienced Nasi Padang, a Malay/Indonesian cuisine in Singapore, featuring steamed rice, diverse curries, and side dishes, offering a myriad of flavors and textures.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LA" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="ML" %}
						</div>

					</div>
				</a>
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Tuesday, 6th June 2023</h3>
	<ul>
		<li>
			<span>10:00 AM - 12:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/academic-visit/2023/06/06/AI-Lecture-at-NUS.html">
					<div class="card hoverable">
						<div>
							<h5>A.I. Lecture @ NUS</h5>
							<p>
								We arrived at NUS on our first morning in Singapore to attend an informative lecture on artificial intelligence, specifically on the topic of logical agents, taught by the amicable Daren Ler.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>12:00 PM - 1:45 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/group-meal/2023/06/06/Lunch-at-Formosa-Delights.html">
					<div class="card hoverable">
						<div>
							<h5> Lunch at Formosa Delights </h5>
							<p>
								At Formosa Delights, a restaurant near NUS campus, we enjoyed an immersive dining experience full of Chinese delicacies. The warm and welcoming atmosphere made our visit unforgettable.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>2:00 PM - 4:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/academic-visit/2023/06/06/AI-Lab-Visit-at-NUS.html">
					<div class="card hoverable">
						<div>
							<h5> Vision A.I. Lab Visit @ NUS </h5>
							<p>
								Visited Prof. Wang Xinchao's AI lab at NUS, discussed AI and machine learning advancements, observed research, received guidance about research opportunities in Singapore.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>8:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/06/Satay-Street.html">
					<div class="card hoverable">
						<div>
							<h5>Satay Street, Lau Pa Sat</h5>
							<p>
								Visited iconic Satay Street in Lau Pa Sat, Singapore. Savored diverse cuisine, including skewers, with inclusive halal and vegetarian options. A must-visit showcasing Singapore's rich culinary culture.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/students-exploration/2023/06/06/Ah-Seng-Durian.html">
					<div class="card hoverable">
						<div>
							<h5>Ah Seng Durian’s Alexandra Outlet</h5>
							<p>
								Join us on our flavor-filled day at Ah Seng Durian's Alexandra Outlet. Discover an affordable haven for durian lovers, featuring diverse tastes and fresh, juicy mangosteens.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>

					</div>
				</a>
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Wednesday, 7th June 2023</h3>
	<ul>
		<li>
			<span>11:00 AM - 12:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/07/Carousell-Singapore-Office-Visit.html">
					<div class="card hoverable">
						<div>
							<h5>Carousell Singapore Office Visit</h5>
							<p>
								Visit to one of the world's largest and fastest growing mobile classifieds apps with mission to inspire
								 every person in the world to start selling and buying to make more possible for one another.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>12:00 PM - 1:45 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/group-meal/2023/06/07/Chin-Chin-Eating-House-with-former-CityUs.html">
					<div class="card hoverable">
						<div>
							<h5> Host Favorites at Chin Chin Eating House with former CityUs</h5>
							<p>
								Three Singapore Management University professors guided us to Chin Chin Eating House, shared Hainanese Chicken Rice, and traced their academic journeys from City University of Hong Kong.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>2:00 PM - 3:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/academic-visit/2023/06/07/Embarking-on-a-Professional-Pathway-SMU.html">
					<div class="card hoverable">
						<div>
							<h5> Embarking on a Professional Pathway @ SMU </h5>
							<p>
								SMU offers diverse, practical programs in Information Systems, promoting lifelong learning, global opportunities, and industry readiness. Post-graduation, students thrive in both academia and industry globally.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>3:00 PM - 4:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/academic-visit/2023/06/07/Exploring-Cutting-edge-Computer-Science-Research-at-SMU.html">
					<div class="card hoverable">
						<div>
							<h5> Exploring Cutting-edge Computer Science Research @ SMU </h5>
							<p>
								SMU showcased impressive research projects in AI and XR, including FoodAI+ for advanced food classification, LILO for indoor 3D localization, and innovative applications of AR headsets.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>5:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/07/National-Museum-of-Singapore.html">
					<div class="card hoverable">
						<div>
							<h5>National Museum of Singapore</h5>
							<p>
								An impromptu visit to the National Museum of Singapore, highlighting the beautiful neo-classical architecture and interactive exhibits showcasing Singapore's history and culture, and expresses a desire for a return visit.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/students-exploration/2023/06/07/Chilling-at-Void-Cafe.html">
					<div class="card hoverable">
						<div>
							<h5>Chilling at Void Cafe</h5>
							<p>
								We had a fun and relaxing time at a vintage café next to School of the Arts, but what happened after one of us forgot our belongings there?
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
			</div>
		</li>
		<li>
			<span>7:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/07/Song-Fa-The-Fountain-of-Wealth.html">
					<div class="card hoverable">
						<div>
							<h5>Song Fa Bak Kut Teh & The Fountain of Wealth</h5>
							<p>
								At Song Fa, a Michelin-awarded restaurant, we savoured their signature Bak Kut Teh amidst old-world charm and viewed the Fountain of Wealth, creating a unique dining experience.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/students-exploration/2023/06/07/Mustafa-Market.html">
					<div class="card hoverable">
						<div>
							<h5>Mustafa Market</h5>
							<p>
								A visit to Singapore's Mustafa Market, I shared my Bangladeshi culture with friends through trying traditional food, creating a memorable experience of connection and cultural exchange.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="HWL" %}
						</div>

					</div>
				</a>
				
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Thursday, 8th June 2023</h3>
	<ul>
		<li>
			<span>9:00 AM - 10:00 AM</span>
			<div class="">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/08/Breakfast-Ya-Kun-Kaya-Toast.html">
					<div class="card hoverable">
						<div>
							<h5>Ya Kun Kaya Toast: A Taste of Singapore's Breakfast Tradition</h5>
							<p>
								Ya Kun Kaya Toast offers a unique Singaporean breakfast experience, serving traditional kaya toast with butter, a soft-boiled egg, and soy sauce, paired with hot beverages.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>10:45 AM - 1:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/08/SEA-Aquarium.html">
					<div class="card hoverable">
						<div>
							<h5>S.E.A. Aquarium Visit</h5>
							<p>
								Spent a fantastic day at Sentosa Island, Singapore, visiting the S.E.A. Aquarium.
								Marvelled at over 100,000 marine creatures, learned about environmental impact, and
								created unforgettable memories. Highly recommend a visit!
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LA" %}
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="THL" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="NT" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>
					</div>
				</a>


			</div>
		</li>
		<li>
			<span>2:00 PM - 5:00 PM</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/08/Universal-Studios-Singapore.html">
					<div class="card hoverable">
						<div>
							<h5> Universal Studios Singapore </h5>
							<p>
								At Universal Studios in Sentosa, we experienced lively streets, thrilling rides, and fascinating shows. From deceptive rollercoasters to soaking water adventures, it was an unforgettable theme park extravaganza.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="HB" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="ML" %}
							{% include schedule_user.html user="HWL" %}
							{% include schedule_user.html user="JX" %}
							{% include schedule_user.html user="CWY" %}
						</div>
					</div>
				</a>
				<a href="{{ site.baseurl }}/students-exploration/2023/06/08/Sentosa-Line-Cable-Car.html">
					<div class="card hoverable">
						<div>
							<h5> Sentosa Line Cable Car </h5>
							<p>
								We embarked on an exciting adventure at the S.E.A. Aquarium and a breathtaking journey aboard the Sentosa Line cable car,
								whose stunning views exposed the remarkable blend of cityscapes, jungles, and attractions that surrounded them.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
							{% include schedule_user.html user="KJ" %}
							{% include schedule_user.html user="THL" %}
						</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<span>Evening</span>
			<div class="scrolling-wrapper">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/08/Spectra-Garden-Rhapsody.html">
					<div class="card hoverable">
						<div>
							<h5>Spectra & Garden Rhapsody, Singapore Outdoor Shows </h5>
							<p>
								After a day on Sentosa Island, we experienced Singapore's signature nighttime shows, The Spectra and Gardens Rhapsody, each mesmerizing and unique, sparking debate on our favorite.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
						</div>

					</div>
				</a>
				<a href="{{ site.baseurl }}/students-exploration/2023/06/08/Dining-Delight-at-Nando.html">
					<div class="card hoverable">
						<div>
							<h5>Dining Delight at Nando's </h5>
							<p>
								Experience the rich flavors of Portugal at Nando's in Singapore. From perfectly grilled peri-peri chicken to crispy fries, enjoy a warm, friendly, and unforgettable dining journey.
							</p>
						</div>
						<div class="participants">
							{% include schedule_user.html user="QTA" %}
							{% include schedule_user.html user="LBH" %}
							{% include schedule_user.html user="MH" %}
						</div>

					</div>
				</a>
				
			</div>
		</li>
	</ul>

	<h3 class="mb-2 date">Friday, 9th June 2023</h3>
	<ul>
		<li>
			<span>10:00 AM</span>
			<div class="">
				<a href="{{ site.baseurl }}/group-meal/2023/06/09/Brunch-at-Hey-Yakiniku.html">
					<div class="card hoverable">
						<div>
							<h5>Brunch at Hey Yakiniku</h5>
							<p>
								Concluded Singapore visit with brunch at Hey Yakiniku, savoring expertly marinated beef slices, marbled wagyu, fresh vegetables, and rice in an interactive grilling experience.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>1:00 PM</span>
			<div class="">
				<a href="{{ site.baseurl }}/students-exploration/2023/06/09/Jewel-Changi-Airport.html">
					<div class="card hoverable">
						<div>
							<h5> Jewel Changi Airport </h5>
							<p>
								We visited The Jewel at Changi Airport, a captivating nature-themed complex, enjoyed shopping and exploring before our flight, marking a perfect end to our 2023 trip.
							</p>
						</div>
					</div>
				</a>

			</div>
		</li>
		<li>
			<span>6:00 PM</span>
			<div class="scrolling-wrapper">
				<div class="card">
					<div>
						<h5>CX716: SIN to HKG</h5>
						<p>

							The evening flight departed from Singapore Changi to Hong Kong International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="WHL" %}
						{% include schedule_user.html user="KCL" %}
						{% include schedule_user.html user="QTA" %}
						{% include schedule_user.html user="HB" %}
						{% include schedule_user.html user="LBH" %}
						{% include schedule_user.html user="KJ" %}
						{% include schedule_user.html user="ML" %}
						{% include schedule_user.html user="HWL" %}
						{% include schedule_user.html user="NT" %}
						{% include schedule_user.html user="JX" %}
						{% include schedule_user.html user="CWY" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>SQ898: SIN to HKG</h5>
						<p>

							The evening flight from Singapore Changi to Hong Kong International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="LA" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>FD350: SIN to DMK</h5>
						<p>

							The evening flight departed from Singapore Changi to Don Mueang International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="MH" %}
					</div>

				</div>
				<div class="card">
					<div>
						<h5>SQ186: SIN to SGN</h5>
						<p>

							The evening flight departed from Singapore Changi to Tân Sơn Nhất International Airport.
						</p>
					</div>
					<div class="participants">
						{% include schedule_user.html user="THL" %}
					</div>

				</div>
			</div>
		</li>
	</ul>


</div>

</body>
