<header class="cityu-header header-color-default">
        <div class="cityu-header-inner container">

            <!-- Header : Large screen -->
            <div class="cityu-header-lg d-none d-lg-block">
                <div class="d-flex flex-row">

                    <!-- Department logo only -->
                    <!--div class="cityu-header-logo-lg align-self-center">
          <a href=".">
            <img src="//template.cityu.edu.hk/template/logo/esu/esu_logo_eng_cmyk.svg" alt="Department of Accountancy">
          </a>
        </div-->

                    <!-- CityU logo and title -->
                    <div class="cityu-header-logo-lg align-self-center">
                        <a href="https://www.cityu.edu.hk" rel="noopener" target="_blank">
                            <img src="https://template.cityu.edu.hk/template/v2/logo/CityU/CityU_Vertical_Logo_CMYK.svg"
                                alt="City University of Hong Kong">
                        </a>
                    </div>
                    <div class="cityu-header-name-lg align-self-center">
                        <a href="{{ site.baseurl }}/">
                            Singapore Visit 2023 (CS)
                        </a>
                    </div>

                    <!-- Tools -->
                    <div class="cityu-tools ml-auto align-self-start flex-row d-none d-lg-flex">

                        <!-- Search box -->
                        <!--div class="cityu-search search-color-cityured align-self-center">
            <form method="get" action="https://www.cityu.edu.hk/cityusearch">
              <fieldset>
                <div class="input-group">
                  <input class="form-control" type="text" name="q" placeholder="Search" aria-label="Search text">
                  <input type="hidden" name="site" value="">
                  <button class="input-group-text search-button-color-cityured" type="submit" value="" aria-label="Search button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </fieldset>
            </form>
          </div-->

                    </div>

                </div>
            </div>

            <!-- Header : Small screen -->
            <div class="cityu-header-md d-lg-none">
                <div class="d-flex flex-row">

                    <!-- Logo and title -->
                    <div class="cityu-header-logo-md align-self-center">
                        <a href="https://www.cityu.edu.hk" rel="noopener" target="_blank">
                            <img src="https://template.cityu.edu.hk/template/v2/logo/CityU/CityU_Mini_Logo.svg"
                                alt="City University of Hong Kong">
                        </a>
                    </div>
                    <div class="cityu-header-name-md align-self-center">
                        <a href="{{ site.baseurl }}/">
                            Singapore Visit 2023 (CS)
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </header>