<div class="cityu-carousel-2 bg-dark">
  <div id="carousel_0" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="11" aria-label="Slide 12"></button>
      <button type="button" data-bs-target="#carousel_0" data-bs-slide-to="12" aria-label="Slide 13"></button>
    </div>

    <!-- Carousel list -->
    <div class="carousel-inner">

      <!-- Carousel item1 1 -->
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_01.jpg" alt=""
          data-aos="zoom-out" data-aos-duration="1000">
        <div class="carousel-caption" data-aos="fade-right" data-aos-duration="1500">
          <h3><a href="{{ site.baseurl }}/academic-visit/2023/06/06/AI-Lecture-at-NUS.html" class="text-white">A.I. Lecture @ NUS</a></h3>
          <p class="mb-2">Join Dr. Daren Ler, a specialist in teaching introductory Computer Science, at one of Singapore's premier universities.</p>
        </div>
      </div>

      <!-- Carousel item 2 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_02.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/academic-visit/2023/06/06/AI-Lab-Visit-at-NUS.html" class="text-white">Meet The Researcher @ NUS</a></h3>
          <p class="mb-2">Discover Prof. Wang Xinchao's vision of artificial intelligence at his NUS office.</p>
        </div>
      </div>

      <!-- Carousel item 3 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_03.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/academic-visit/2023/06/07/Embarking-on-a-Professional-Pathway-SMU.html" class="text-white">Visit the School of Computing and Information Systems @ SMU</a></h3>
          <p class="mb-2">Explore high-quality Masters and Ph.D. programs in the heart of Singapore.</p>
        </div>
      </div>

      <!-- Carousel item 4 -->
      <div class="carousel-item ">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_04.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/academic-visit/2023/06/07/Exploring-Cutting-edge-Computer-Science-Research-at-SMU.html" class="text-white">A.I. Projects @ SMU</a></h3>
          <p class="mb-2">Showcase cutting-edge projects from graduate scholars.</p>
        </div>
      </div>

      <!-- Carousel item 5 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_05.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="." class="text-white">Carousell Office Tour</a></h3>
          <p class="mb-2">See how a local hackathon winner transformed into a globally operating company with its mission of "Making Second-Hand Items The First Choice".</p>
        </div>
      </div>

      <!-- Carousel item 6 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_06.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/group-meal/2023/06/07/Chin-Chin-Eating-House-with-former-CityUs.html" class="text-white">Hainanese Chicken Lunch with ex-CityUs</a></h3>
          <p class="mb-2">Reconnect with former CityU professors and Ph.D. students over lunch at SMU.</p>
        </div>
      </div>
      <!-- Carousel item 7 -->
      <div class="carousel-item ">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_07.jpg" alt="">
        <div class="carousel-caption">
           <h3><a href="{{ site.baseurl }}/group-meal/2023/06/06/Lunch-at-Formosa-Delights.html" class="text-white">NUS's Favorite Lunch Spot: Formosa Delights</a></h3>
          <p class="mb-2">Dine with NUS professors at locally recommended restaurants.</p>
        </div>
      </div>

      <!-- Carousel item 8 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_08.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/students-exploration/2023/06/05/Merlion-and-Marina-Bay-Sands.html" class="text-white">Merlion: The Mascot of Singapore</a></h3>
          <p class="mb-2">Head of a lion and the body of a fish.</p>
        </div>
      </div>

      <!-- Carousel ite 9 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_09.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/students-exploration/2023/06/08/Spectra-Garden-Rhapsody.html" class="text-white">Gardens By The Bay</a></h3>
          <p class="mb-2">Experience the Supertrees and their fantastic shows.</p>
        </div>
      </div>
      <!-- Carousel item 10 -->
      <div class="carousel-item ">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_10.jpg" alt="">
        <div class="carousel-caption" >
          <h3><a href="{{ site.baseurl }}/students-exploration/2023/06/08/Universal-Studios-Singapore.html" class="text-white">Sentosa Islands</a></h3>
          <p class="mb-2">Explore the entertainment hub of Singapore.</p>
        </div>
      </div>

      <!-- Carousel item 11 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_11.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/group-meal/2023/06/09/Brunch-at-Hey-Yakiniku.html" class="text-white">Farewell BBQ</a></h3>
          <p class="mb-2">Conclude the visit with a group brunch with our professors.</p>
        </div>
      </div>

      <!-- Carousel item 12 -->
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_12.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/students-exploration/2023/06/05/Ninety-Nine-Old-Trees.html" class="text-white">Durian Heaven</a></h3>
          <p class="mb-2">Sample Singapore's must-try "King of the Jungle".</p>
        </div>
      </div>

      <!-- Carousel item 13 -->
      <div class="carousel-item ">
        <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slide/resized/carousel_13.jpg" alt="">
        <div class="carousel-caption">
          <h3><a href="{{ site.baseurl }}/students-exploration/2023/06/09/Jewel-Changi-Airport.html" class="text-white">Jewel</a></h3>
          <p class="mb-2">Explore the multi-dimensional complex featuring a giant waterfall.</p>
        </div>
      </div>

    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_0" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel_0" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>