<div id="{{include.id}}" style="height: 40vh; margin-left: auto; margin-right: auto; padding-left: 0px; padding-right: 0px; margin-bottom: 1.5rem;"></div>

<script src="{{ site.baseurl }}/assets/js/three.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/panolens.min.js"></script>

<script>
{% if include.src contains 'https://' %}
  panorama = new PANOLENS.ImagePanorama("{{ include.src }}");
{% else %}
  panorama = new PANOLENS.ImagePanorama('{{ site.baseurl }}'+'{{ include.src }}');
{% endif %}
viewer = new PANOLENS.Viewer( { container: document.querySelector( '#{{include.id}}' ) } );
viewer.add( panorama );

{% if include.x and include.y and include.z %}
viewer.tweenControlCenter( new THREE.Vector3({{ include.x }}/10, {{ include.y }}/10, {{ include.z }}/10), 0 );
{% endif %}

</script>