<div id="{{include.id}}" style="height: 40vh; margin-left: auto; margin-right: auto; padding-left: 0px; padding-right: 0px; margin-bottom: 1.5rem;"></div>

<script src="https://pchen66.github.io/js/three/three.min.js"></script>
<script src="https://rawgit.com/pchen66/panolens.js/dev/build/panolens.min.js"></script>

<script>

panorama = new PANOLENS.ImagePanorama( {{include.src}} );
viewer = new PANOLENS.Viewer( { container: document.querySelector( '#{{include.id}}' ) } );
viewer.add( panorama );

</script>