{% if include.user == 'WHL' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04206B1.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04206C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'KCL' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04286B2.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04286C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'QTA' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04200B3.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04200C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'LA' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04358B4.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04358C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'HB' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04134B1.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04134C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'LBH' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04172B2.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04172C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'MH' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04283B3.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04283C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'KJ' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04073B4.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04073C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'ML' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04159B1.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04159C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'THL' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT03171B2.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT03171C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'HWL' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04261B3.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04261C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'NT' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04158B4.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04158C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'JX' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04233B1.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04233C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% elsif include.user == 'CWY' %}
<div class=" portraitPhoto">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04177B2.jpg"
								class="img-fluid rounded-circle block lg:hidden" alt="">
							<img loading="lazy" src="/SGVisit/assets/img/portraitPhotos/MAT04177C.png"
								class="img-fluid rounded-circle block lg:hidden" alt="">
						</div>
{% endif %}