<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<style>
    .scrolling-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        /* add this line */
        scroll-snap-type: x mandatory;

    }

    .twitter-tweet iframe {
        width: min(800px, 90%) !important;
        margin-right: 0.5rem !important;
        scroll-snap-align: start;
        flex-direction: column;
        justify-content: space-between;
        width: unset !important;
    }

    .twitter-tweet{
        max-width: unset !important;
    }
    
</style>
<div class="scrolling-wrapper">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Dr. Howard Leung and Dr. Kenneth Lee led a group of 12 CS undergraduate students to <a href="https://twitter.com/hashtag/Singapore?src=hash&amp;ref_src=twsrc%5Etfw">#Singapore</a> for a study tour</p>&mdash; CSDept HKCityU (@CityUCS) <a href="https://twitter.com/CityUCS/status/1665741138345578497?ref_src=twsrc%5Etfw">June 5, 2023</a></blockquote> 
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day one of our <a href="https://twitter.com/hashtag/Singapore?src=hash&amp;ref_src=twsrc%5Etfw">#Singapore</a> study tour<br>Our group from <a href="https://twitter.com/hashtag/CityUCS?src=hash&amp;ref_src=twsrc%5Etfw">#CityUCS</a> is as diverse as this incredible city <a href="https://t.co/KDNhbhFWnR">pic.twitter.com/KDNhbhFWnR</a></p>&mdash; CSDept HKCityU (@CityUCS) <a href="https://twitter.com/CityUCS/status/1665972491179941888?ref_src=twsrc%5Etfw">June 6, 2023</a></blockquote> 
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day one of our <a href="https://twitter.com/hashtag/Singapore?src=hash&amp;ref_src=twsrc%5Etfw">#Singapore</a> study tour (5 June 2023)<br>After dinner, some students explored the signature fruit Mustang King Durian. They learnt from the the salesperson about the flavors of different types and the culture of durian. <a href="https://t.co/zd4mvsNGo0">pic.twitter.com/zd4mvsNGo0</a></p>&mdash; CSDept HKCityU (@CityUCS) <a href="https://twitter.com/CityUCS/status/1668444668055683072?ref_src=twsrc%5Etfw">June 13, 2023</a></blockquote> 
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day two of our <a href="https://twitter.com/hashtag/Singapore?src=hash&amp;ref_src=twsrc%5Etfw">#Singapore</a> study tour (6 June 2023)<br>In the morning, the group went to the world class and prestigious National University of Singapore (NUS). Our students had the opportunity to sit in a lecture on AI logical agents delivered by Dr. Daren Ler. <a href="https://t.co/Mj58r5dlXK">pic.twitter.com/Mj58r5dlXK</a></p>&mdash; CSDept HKCityU (@CityUCS) <a href="https://twitter.com/CityUCS/status/1668780086932443136?ref_src=twsrc%5Etfw">June 14, 2023</a></blockquote> 
</div>