<!DOCTYPE html>
<html>
<head>  
<meta charset="utf-8">
<title>  
{% if page.title and page.title != "Home" %}
{{ page.title }} | Singapore Visit 2023 (CS) | City University of Hong Kong
{% else %}
Singapore Visit 2023 (CS) | City University of Hong Kong
{% endif %}
</title>  
<link rel="icon" type="image/x-icon" href="https://www.cityu.edu.hk/favicon.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="City University of Hong Kong">
<meta name="description" content="{{ page.title }} | Singapore Visit 2023 (CS) | City University of Hong Kong">
<meta name="keywords" content="City University of Hong Kong, City University, CityU">
<meta name="robots" content="index, follow">
</head>  
<body
    class="cityu-template-2 cityu-template-2-1 cityu-base-layout cityu-base-style ct-prod ct-bootstrap-5 ct-touch ct-xxl ct-breadcrumb ct-submenu ct-sitemap"
    data-new-gr-c-s-check-loaded="14.1111.0" data-gr-ext-installed="">

    <!-- Header -->
    {% include header.html %}

    <!--  Menu -->
    {% include menu.html %}

    <!-- Breadcrumb -->
    {% include breadcrumb.html %}
    

    <!-- Main -->
    <main class="cityu-main" style="min-height: 605px;">
        <div class="cityu-main-inner container">
            <div class="row">

                <!-- Content -->
                {{content}}

               

            </div>
        </div>
    </main>

    <!-- Sitemap -->
    {% include sitemap.html %}
    
    <!-- Footer -->
    {% include footer.html %}

    <!-- Required config file -->
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-YSL0MDS9QG&amp;l=dataLayer&amp;cx=c"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PZF4343"></script>
    <script src="{{ site.baseurl }}/assets/js/cityu.config.js"></script>

    <!-- Required scripts -->
    <script src="https://template.cityu.edu.hk/template/v2/js/jquery/jquery.min.js"></script>
    <script src="https://template.cityu.edu.hk/template/v2/js/popper.js/popper.min.js"></script>
    <script src="https://template.cityu.edu.hk/template/v2/js/bootstrap/bootstrap.min.js"></script>
    <script src="https://template.cityu.edu.hk/template/v2/js/cityu.base.js"></script>

    <!-- Optional scripts -->
    <script async="" src="https://template.cityu.edu.hk/template/v2/js/aos/aos.js"></script>




    <button type="button" class="cityu-backtotop" id="btn-back-to-top" aria-label="Back to top"
        style="display: none;"><i class="fas fa-chevron-up"></i></button>
</body>


</html>