---
layout: default
---
<div class="col-md-9">
  <div class="cityu-content content-color-default">
    <h1>Home</h1>
  </div>
</div>

{{ content }}



<div class="home col-md-9" style="margin-bottom: 2rem;">
<div class="cityu-divider-2" style="margin-bottom: .5rem;"></div>
  {% assign categories = "Academic Visit,Group Meal,Students' Exploration,a" | split: "," %}
  {% for category in categories %}
  
  {% assign posts = site.categories[category] | reverse %}
  <div class="cityu-content content-color-default" style="margin-bottom: 0px;">
  <h1 class="post-list-heading" style="margin-bottom: 0.5rem;">{{ category }}</h1>
  </div>

  {%- if posts.size > 0 -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- else -%}
    <p> This category is still empty.</p>
  {%- endif -%}
  {% endfor %}


</div>